node_modules
dist
coverage
*.tsbuildinfo
npm-debug.log
.env
.env.*
!.env.example
.git
.gitignore
.husky
.cursor
.vscode
.idea
docs
LICENSE
*.md
!README.md
*.spec.ts
*.test.ts
.eslintcache
eslint.config.js
.prettierrc
.prettierignore
vitest.config.ts
.DS_Store
src/generated
